@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font: inherit;
    background-color: inherit;

    width: 75px;
    height: 75px;

    border-radius: 15%;
    border: none;
}

body {
    font-family: "Protest Guerrilla";
}

h1 {
    font-size: 75px;
    text-align: center;
}

.calculator{
    font-size: 50px;
}

.calculator-display {
    text-align: right;
}

.red {
    background-color: red;
    border-color: red;
}

.yellow {
    background-color: yellow;
    border-color: yellow;
}

.green {
    background-color: green;
    border-color: green;
}

.white {
    background-color: white;
    border-color: white;
}